
div{
    text-align: center;
    color: white;
}
body{
    margin: 0 ;
    background-color: royalblue;
}
.topo{
    background-color: black;
    height: 30px;
    padding-top: 2px;
    padding-bottom: 10px;
}
h1 {
    color: #fff;
    font-size: 18px;
}
img{
    width: 400px;
    border-radius: 5px;
}
.conteudo{
    width: 500px;
    margin: 0 auto;
    line-height: 30px;
}
.texto-destaque{
    background-color: blueviolet;
    border-radius: 10px;
    padding: 7px;
    font-weight: bold;
}